{{page-title "AndEmberHack"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h1>12 Days of Christmas Cocktails / Mocktails</h1>

{{outlet}}